*.iml
.idea/
/.idea

.settings/
/.settings



*.class
target/
/target
*.jar
*.index
*.data
*.jasper

*.log
*.orig
*.tmp
*.pid
*.classpath
*.project

logs/
web/war/*
verifone/import/*
verifone/export/*
itc\\import/*
itc\\export/*
itc/import/*
itc/export/*
verifone\\import/*
verifone\\export/*
verfione/export/*
verfione/export/*
itcImportFilesDir/*
src/main/resources/application.properties
src/main/resources/META-INF/resources/resources/css/main.css
/bin/
/upload-files
/teta
/temp

trace.txt
